

.contactcontainer {
    display: flex;
    justify-content: center;
    min-height:auto;
    padding: 20px;
    background-color: var(--background);
  }
.contactcard {
    background-color:rgb(188, 187, 187);
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(58, 58, 58, 0.1);
    max-width: 500px;
    width:auto;
  }
  
  .contactcard h1, .contactcard h2 {
    margin-top: 0;
  }
  
  .contactcard a {
    color: var(--background);
    text-decoration: underline;
  }
  
  .contactcard a:hover {
    text-decoration: none;
  }