
.title{
    font-size: xx-large;
    font-family: sans-serif;
}


.image{
    border-radius: 5px;
}

.logo{
    margin-top: 10%;
    text-align: center;
}

.des{
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button{
    border: none;
    background-color:rgb(47, 129, 244);
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}