

.blogcard {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blogcard li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
}

.blogcard img {
    max-width: 100%;
    border-radius: 5px;
}

.blogimage{
    width: 400px;
    height: 200px;
    /* overflow: hidden; */
    border-radius: 5px;
}
.blogimages{
    width: 100%;
    height: 400px;
    border-radius: 5px;
}
.image {
    width: 35px;
    height: 35px;
    /* border-radius:50%; */
}
.title{
    font-size: 1.5em;
    color:black;
    margin: 10px 0;
}
/* .buttons{
    border:0px;
    background-color: white;

} */

.container{
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(89, 89, 89, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);

}

.blogcard h2 {
    color: #333;
    font-size: 1.5em;
    margin: 10px 0;
}

.blogcard p {
    color: #666;
    line-height: 1.6;
}

.blogcard p:first-of-type {
    font-size: 0.9em;
    color: #999;
}

.blogcard p:last-of-type {
    font-size: 0.9em;
    color: #999;
    margin-top: 10px;
}

.blogdetails {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    box-sizing: border-box;
}

.blogdetails h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.blogdetails p {
    color: #000000;
    line-height: 1.6;
    margin: 10px 0;
}

.blogdetails img {
    max-width: 100%;
    border-radius: 5px;
    margin: 20px 0;
}


.buttons{
    background-color:white;
    border: none;
    color:black;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}